.header {
    padding: 50px 0;
    background: #f5f5f5;
    border-top: 10px solid #778492;
    padding-top: 30px;
}
.prof-img {
    height: 210px;
    width: 210px;
    margin-right: 30px;
    border-radius: 120px;
    margin-left: 20px;
    float: left;
}
.Intro {
  margin-bottom: 5px;
  margin-top: 30px;
}

.name {
  color: #49515a;
  font-family: "Century Schoolbook";
  font-size: 60px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.desc {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 15px;
}
.full-desc {
    font-family: "Bookman Old Style";
    font-size: 20px;
}
ul li {
    display: inline-block;
    list-style: none;
}
li {
    padding-right: 10px;
}
.fa {
  padding:  17px;
  border-radius: 40px;
  width: 15px;
  text-align: center;
  text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-github {
    background: #d4d7d8;
    color: black;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #F20AB3;
  color: white;
}